@import "tailwindcss";
/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: rgb(17, 15, 15);
    overflow-x: hidden;
    color:white;
}

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
